body {
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: row;

}

.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    
    background-color: #213D59;

    width: 50vw;
    min-height: 100vh;

}

.secao-esquerda{
    background-color: #16293B;
    border-radius: 8px;

    box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.25);
    
    padding: 8px;
    gap: 10px;

    font-size: larger;

    height: 350px;
    width: 400px;
}


.direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: #E9E6E7;
    color: #070D13;

    width: 50vw;
    min-height: 100vh;

}

.form {
    display: flex;
    flex-direction: column;
    
    height: 350px;
    width: 400px;

    background-color: #213D59;
    color: #ffffff;

    border-radius: 8px;

    box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.25);

    padding: 8px;

    gap: 10px;

}

.oculto {
    display: none;
}
